.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.portfolio_item {
  background: var(--color-bg-variant);
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
  cursor: default;
}
.portfolio_item-img {
  border-radius: 1.5rem;
  overflow: hidden;
  filter: grayscale(100%);
}
.portfolio_item-img:hover {
  filter: grayscale(0);
}
.portfolio_item h3 {
  margin: 1rem 2rem;
  text-align: center;
}
.portfolio_item-cta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20%;
  gap: 1rem;
}
.text-light {
  color: var(--color-light);
  text-align: center;
}
/* media queries (tablettes) */
@media screen and (max-width: 1024px) {
  .portfolio_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}
/* media queries (smartphones) */
@media screen and (max-width: 600px) {
  .portfolio_container {
    grid-template-columns: 1fr;
    gap: 1 rem;
  }
}
